name: chafon_h103_rfid
description: Chafon H103 Bluetooth RFID reader Flutter plugin.
version: 0.1.3
homepage: https://github.com/rashidniyazov/chafon_h103_rfid
repository: https://github.com/rashidniyazov/chafon_h103_rfid
issue_tracker: https://github.com/rashidniyazov/chafon_h103_rfid/issues

environment:
  sdk: ^3.8.1
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  permission_handler: ^11.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.chafon_h103_rfid
        pluginClass: ChafonH103RfidPlugin